% extends 'index.html' %} 
{% block head %}
{% endblock %}

{% block content %}
<ul id="mainnav" class="">

<link rel="stylesheet" type="text/css" href="/mrporter/content/generic/styles/topnav/TopNav.css">

<li id="whatsNew" class="main-menu" style="margin: 0px 0px -10px; padding-left: 25px; padding-right: 18px; visibility: visible;"> <a href="http://www.mrporter.com/Shop/Whats-New" id="whatsNewTop" class="topItem" style="padding-right: 0px;">What's new<span class="chosen-one"></span></a>

</li>
<li id="designers" class="main-menu" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible;"> <a href="/Shop/AZDesigners" id="designersTop" class="topItem" style="padding-right: 0px;">Designers<span class="chosen-one"></span></a>   
</li>

<li class="clothing main-menu" id="clothing" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible;">
        <a href="http://www.mrporter.com/Shop/Clothing" class="topItem" style="padding-right: 0px;">
            Clothing<span class="chosen-one"></span>
        </a>
            </li><li class="shoes main-menu" id="shoes" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible;">
        <a href="http://www.mrporter.com/Shop/Shoes" class="topItem" style="padding-right: 0px;">
            Shoes<span class="chosen-one"></span>
        </a>
            </li><li class="accessories main-menu" id="accessories" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible;">
        <a href="http://www.mrporter.com/Shop/Accessories" class="topItem" style="padding-right: 0px;">
            Accessories<span class="chosen-one"></span>
        </a>


<style>
ul#mainnav li {
	margin: 0 13px -10px;
}
</style>

<li id="theDirectory" class="main-menu" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible;"> <a href="/gifts" id="theDirectoryTop" class="topItem" style="padding-right: 0px;">Gifts<span class="chosen-one"></span></a>
</li>
</ul>
{% endblock %}
</html>