{% extends 'index.html' %} 
{% block head %}
{% endblock %}

{% block content %}

<div id="top-nav" class="nav">

<ul id="mainnav">
<li  class="main-menu" style="margin: 0px 0px -10px; padding-left: 25px; padding-right: 18px; visibility: visible; float:left;">What's new<span class="chosen-one"></span>
</li>
<li class="main-menu" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible; float:left;">Designers<span class="chosen-one"></span>
</li>
<li id="clothing" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible; float:left;"> Clothing<span class="chosen-one"></span>
</li>
<li class="shoes main-menu" id="shoes" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible; float:left;">Shoes<span class="chosen-one"></span>
</li>
<li class="accessories main-menu" id="accessories" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible; float:left;">Accessories<span class="chosen-one"></span>
</li>        
<li id="theDirectory" class="main-menu" style="margin: 0px 0px -10px; padding-left: 18px; padding-right: 18px; visibility: visible; float:left;">Gifts<span class="chosen-one"></span>
</li>
</ul>

</div>
{% endblock %}
</html>